@media screen and (max-width: 1080px) {
  html {
    font-size: 168.75px;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 120px;
  }
}
@media screen and (max-width: 720px) {
  html {
    font-size: 112.5px;
  }
}
@media screen and (max-width: 640px) {
  html {
    font-size: 100px;
  }
}
@media screen and (max-width: 414px) {
  html {
    font-size: 64.6875px;
  }
}
@media screen and (max-width: 412px) {
  html {
    font-size: 64.375px;
  }
}
@media screen and (max-width: 375px) {
  html {
    font-size: 58.59375px;
  }
}
@media screen and (max-width: 360px) {
  html {
    font-size: 56.25px;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 50px;
  }
}
p,
a,
h1,
h2,
h4,
h3,
span,
img,
div,
input,
i,
dl,
dt,
dd,
* {
  margin: 0;
  padding: 0;
  border: 0;
}
a:link,
a:visited {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #000;
  text-decoration: none;
}
li {
  list-style: none;
}
.f-l {
  float: left;
}
.f-r {
  float: right;
}
.abs {
  position: absolute;
}
.rel {
  position: relative;
}
.fix {
  position: fixed;
}
.clear {
  overflow: hidden;
}
.clearfix:after {
  content: " ";
  clear: both;
  height: 0;
  display: block;
}
.wid {
  width: 100%;
}
.dis-none {
  display: none;
}
.box-s {
  box-sizing: border-box;
}
.add_btn img,
.footer {
  display: none;
}
.chose_mban {
  width: 100%;
  height: 11.36rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
.chose_mban img {
  position: absolute;
  top: 0;
  width: 6.4rem;
}
