.header .add_btn p {
  display: none;
}
.center {
  width: 100%;
}
.center ul {
  overflow: hidden;
  margin-top: .12rem;
  margin-left: 0.1em;
}
.center li {
  float: left;
  width: 50%;
  text-align: center;
  padding-top: 0.2rem;
}
.center li img {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  width: 1.71em;
  height: 2.42em;
  border: solid 0.02rem #8d8d8d;
}
.center li p {
  padding-left: 0.7rem;
  margin-top: 0.05rem;
  text-align: left;
  width: 2rem;
  font-size: 0.18rem;
  line-height: 0.24rem;
}
.center .guanbi {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
}
.center .guanbi img {
  width: 4.91rem;
  border-radius: 0.15rem;
  margin-left: 0.7rem;
  margin-top: 3.85rem;
}
.center .guanbi > div {
  position: absolute;
  height: 0.8rem;
  top: 5.95rem;
}
.center .guanbi .jixu {
  width: 2.5rem;
  left: 0.7rem;
}
.center .guanbi .giveup {
  width: 2.4rem;
  left: 3.2rem;
}
