<link rel="stylesheet" type="text/css" href="css/answer.css">
<div class="ans">
    <p class="anstitle">答案</p>
    <p class="ansUrl"></p>
</div>
<!-- 控制条部分 -->
<div class="time">
    <div class="playaudio">
        <img class="playmp3" src="img/images/playaudio.png">
        <img class="stopmp3" src="img/images/stopaudio.png">
    </div>
    <div class="nextaudio">
        <div class="goline goline1">
            <div class=" goline goline2"></div>
            <div class="goon">
                <span></span>
            </div>
        </div>
        <P class="cutTime">0:00</P>
        <P class="allTime">0:00</P>
    </div>
</div>
<div class="datibg">
    <audio loop class="dati_bgmp3" src="music/duobaozhong.mp3"></audio>
    <audio class="dati_errormp3" src="music/error.mp3"></audio>
    <audio class="dati_okmp3" src="music/ok.mp3"></audio>
    <div class="nextLisen">
        <img class="jixuting" src="img/images/jixuting.png">
    </div>
    <div class="goTiao">
        <img class="jixuting" src="img/images/jixuting.png">
        <img class="gochange" src="img/images/tiaozhan.png">
    </div>
</div>
<script src="js/src/answer.js"></script>
