<link rel="stylesheet" type="text/css" href="css/dati.css">
<div class="dati_box">
<!-- <ul>
	<p class="zhangP">第1章 有理数<span class="rotate"></span></p>
	<li>
		<dt>1.1 正数和负数<span class="rotate"></span></dt>
		<dd class="xiti_box">
				<p class="xiti_style">填空题</p>
				<div class="a_box">
					<a>1<span class="spanback"></span></a>
					<a>2</a>
					<a>3</a>
					<a>4</a>
					<a>5</a>
				</div>
				<p class="xiti_style">填空题</p>
				<div class="a_box">
					<a>1</a>
					<a>2</a>
					<a>3</a>
					<a>4</a>
					<a>5</a>
				</div>
				<p class="xiti_style">填空题</p>
				<div class="a_box">
					<a>1</a>
					<a>2</a>
					<a>3</a>
					<a>4</a>
					<a>5</a>
				</div>
		</dd>
	</li>
	<li>
		<dt>1.2 正数和负数</dt>
	</li>
	<li>
		<dt>1.3 正数和负数</dt>
	</li>
	<li>
		<dt>1.4 正数和负数</dt>
	</li>
	<li>
		<dt>1.5 正数和负数</dt>
	</li>
</ul> -->
</div>
<div class="guanbi">
	<img src="img/images/wuti.png">
	<div class="wuti"></div>
</div>
<script src="js/src/dati.js"></script>