<!-- 夺宝部分 -->
<link rel="stylesheet" type="text/css" href="css/duobao.css">
<div class="db_box">
    <div class="db_bg">
        <!-- 首次夺宝背景图 -->
        <img src="img/images/shouciduobao.jpg" class="fir_dbbg">
        <!-- 第二次夺宝背景图 -->
        <img src="img/images/duobao2.jpg" class="sec_dbbg">
        <!-- 复习背景图 -->
        <img src="img/images/fuxi_bg2.jpg" class="fu_bg">
        <img src="img/images/fuxi_jiangli.png" class="fu_jiangli">
        <div class="db_btn">
            <img src="img/images/duobaobtn.png" class="bdbtn">
            <img src="img/images/quxiaobtn.png" class="qxbtn">
        </div>
    </div>
    <div class="goduobao">
        <img src="img/images/db2.jpg">
        <img src="img/images/go.png" class="db_go">
    </div>
    <!-- 问答部分 -->
    <div class="queAns">
        <!-- <img src="img/images/timu.png" class="timubox"> -->
        <div class="db_tilte">
            <p class="nowGuan">第一关</p>
            <p class="allGuan"></p>
        </div>
        <!-- <dl>
        	<img src="img/images/1.jpg">
    	</dl>
        <ul>
        	<li>
				 <img src="img/images/2.jpg">
				 <img src="img/images/confirm.png" class="db_dui duicuo">
				 <img src="img/images/error.png" class="db_cuo duicuo">
        	</li>
        </ul> -->
    </div>
    <!-- 奖励部分 -->
    <div class="jiangli">
        <li>
            <!-- 第一次胜利奖励 -->
            <img src="img/images/firstcg.png" class="firstcg">
            <!-- 第二次夺宝 胜利 奖励-->
            <img src="img/images/chenggong2.png" class="secondcg">
            <!-- 复习奖励 -->
            <img src="img/images/fuxi_cg.png" class="fuxi_cg">
            <!-- 分享页面 -->
            <div class="fx_mb">
                <img src="img/images/fengxiang.jpg" class="db_fx">
                <!-- 取消分享 -->
                <p class="fx_qx"></p>
            </div>
            <p class="jl_hui"></p>
            <p class="jl_fx"></p>
            <img src="img/images/goting.png" class="goting">
        </li>
        <!-- 失败 -->
        <li class="shibai_box">
            <!-- 夺宝失败 -->
			<img src="img/images/shibai.png" class="fir_sb">
            <!-- 继续听学姐讲 -->
			<img src="img/images/goting.png" class="sb_goting">
            <!-- 复习失败 -->
            <img src="img/images/fuxi_sb.png" class="fx_sb">
        </li>
    </div>
</div>
<div class="mp3_box">
    <video src="music/duobaozhong.mp3" autoplay loop class="db_zhong"></video>
    <video src="music/duobaoshengli.mp3" class="db_slmp3" loop></video>
    <video src="music/duobaoshibai.mp3" class="db_sbmp3" loop></video>
    <video src="music/click.mp3" class="db_clickmp3"></video>
    <video src="music/error.mp3" class="db_ermp3"></video>
    <video src="music/ok.mp3" class="db_okmp3"></video>
</div>
<script src="js/src/duobao.js"></script>