<link rel="stylesheet" type="text/css" href="css/addbook.css">
<link rel="stylesheet" type="text/css" href="css/fir_addbook.css">
	<div class="chose_mban">
		<img src="img/star/addnew.png">
	</div>
		<div class="title">
			<p>请选择孩子的数学作业练习册</p>
		</div>	
		<ul>
			<li>
				<img src="img/book/259.jpg" id="img259">
				<p>1+1轻巧夺冠（人教版）七年级 数学 下册</p>
			</li>
			<li>
				<img src="img/book/260.jpg" class="otherimg">
				<p>1+1轻巧夺冠（人教版）七年级 数学 下册</p>
			</li>
			<li>
				<img src="img/book/263.jpg" class="otherimg">
				<p>1+1轻巧夺冠（人教版）七年级 数学 下册</p>
			</li>
		</ul>
<script type="text/javascript" src="js/src/fir_addbook.js"></script>