<link rel="stylesheet" type="text/css" href="css/fir_add.css">
<link rel="stylesheet" type="text/css" href="css/homework.css">
<ul class="book_box">
	<!-- <li>
		<img src="img/book/259.jpg">
		<p>1+1轻巧夺冠（人教版）七年级 数学 下册</p>
	</li>
</ul>
<!-- 蒙版 -->
<!-- <div class="mengban">
	<img src="img/star/mb_add.png">
	<a href="#/fir_addbook"></a>
</div> -->
<!-- 退出 -->
<div class="guanbi">
	<img src="img/images/guanbi.jpg">
	<div class="jixu"></div>
	<div class="giveup"></div>
</div>
<script src="js/src/homework.js"></script>