<link rel="stylesheet" type="text/css" href="css/mokadipan.css">
<link rel="stylesheet" type="text/css" href="css/homework.css">
<div class="katong">
	<div class="imgbox">
		<img src="img/images/cute.png">
		<div class="ps">
			<p>嗨~~~有什么话要对我说吗？</p>
			<p>吐槽、板砖、点赞、圣旨......我都接受</p>
		</div>
	</div>
	<textarea></textarea>
	<div class="submit">提交</div>
</div>
<div class="dipan_footer">
	<div class="foo_l">
		<a href="#/homework">
			<img src="img/yuantu/m1.png">
			<p>作业辅导</p>
		</a>
	</div>
	<div class="foo_r">
		<img src="img/yuantu/m2sel.png">
		<p>魔咖地盘</p>
	</div>
</div>
<div class="guanbi">
	<img src="img/images/guanbi.jpg">
	<div class="jixu"></div>
	<div class="giveup"></div>
</div>
<script src="js/src/mokadipan.js"></script>