<link rel="stylesheet" type="text/css" href="css/star.css">
<div class="s_header">
	<p>应用</p>
	<img src="img/star/s_h1.png">
</div>
<div class="s_lis">
	<ul>
		<li>
			<img src="img/star/fdj.png">
			<p>学籍号查询</p>
		</li>
		<li>
			<img src="img/star/lis_2.png">
			<p>全国中小学生学籍信息...</p>
		</li>
		<li>
			<img src="img/star/lis_3.png">
			<p>学籍信息核查帮助</p>
		</li>
		<li>
			<img src="img/star/lis_4.png">
			<p>电子档案上传</p>
		</li>
		<li class="turnIn">
			<img src="img/star/lis_5.png">
			<p class="xiangmu">作业辅导</p>
		</li>
	</ul>
</div>
<div class="s_footer">
	<li>
		<img src="img/star/sf-1.png">
		<p>会话</p>
	</li>
	<li>
		<img src="img/star/sf-2.png">
		<p>通讯录</p>
	</li>
	<li>
		<img src="img/star/sf-3.png">
		<p class="fff">应用</p>
	</li>
	<li>
		<img src="img/star/sf-4.png">
		<p>设置</p>
	</li>
</div>
<script src="js/src/star.js"></script>